<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>设置-个人信息</title>
     <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css" />
</head>

<body>
   	<!--页面顶部白条条，由js动态加载-->
	<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
	<div class="nav-bottom"></div>
    <script type="text/javascript">$(".nav-bottom").load("top.html");</script>

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#service").hover(function(){
		$(".service").show();
	},function(){
		$(".service").hide();
	});
	$("#shopcar").hover(function(){
		$("#shopcarlist").show();
	},function(){
		$("#shopcarlist").hide();
	});

})
</script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
    <script type="text/javascript" src="js/plugins/citypicker/distpicker.data.js"></script>
    <script type="text/javascript" src="js/plugins/citypicker/distpicker.js"></script>
<script type="text/javascript" src="pages/userInfo/distpicker.data.js"></script>
<script type="text/javascript" src="pages/userInfo/distpicker.js"></script>
<script type="text/javascript" src="pages/userInfo/main.js"></script>
</body>
    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">Michelle</span>
                            <span class="safe">账户安全</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-items">
                        <dl>
							<dt><i>·</i> 订单中心</dt>
							<dd ><a href="home-index.html"   >我的订单</a></dd>
							<dd><a href="home-order-pay.html" >待付款</a></dd>
							<dd><a href="home-order-send.html"  >待发货</a></dd>
							<dd><a href="home-order-receive.html" >待收货</a></dd>
							<dd><a href="home-order-evaluate.html" >待评价</a></dd>
						</dl>
						<dl>
							<dt><i>·</i> 我的中心</dt>
							<dd><a href="home-person-collect.html" >我的收藏</a></dd>
							<dd><a href="home-person-footmark.html" >我的足迹</a></dd>
						</dl>
						<dl>
							<dt><i>·</i> 物流消息</dt>
						</dl>
						<dl>
							<dt><i>·</i> 设置</dt>
							<dd><a href="home-setting-info.html" >个人信息</a></dd>
							<dd><a href="home-setting-address.html" class="list-active" >地址管理</a></dd>
							<dd><a href="home-setting-safe.html" >安全管理</a></dd>
						</dl>
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6">
                    <div class="body userAddress">
                        <div class="address-title">
                            <span class="title">地址管理</span>
                            <a data-toggle="modal" data-target=".edit" data-keyboard="false"   class="sui-btn  btn-info add-new">添加新地址</a>
                            <span class="clearfix"></span>
                        </div>
                        <div class="address-detail">
                            <table class="sui-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>地址</th>
                                        <th>联系电话</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(address,i) in addressList">
                                        <td>{{address.username}}</td>
                                        <td>{{address.provinces}}  {{address.cities}} {{address.areas}} {{address.detailaddr}}</td>
                                        <td>{{address.phone}}</td>
                                        <td>

                                            <a data-toggle="modal" data-target=".edit1" data-keyboard="false" @click="update(i)"   class="sui-btn  btn-info add-new">编辑</a>
                                            <a  href="javascript:void(0)"  @click="deleteDemo(i)" class="sui-btn  btn-info add-new" >删除</a>
                                            <button :class="{selected: isdefault===1}" @click="isdefault=1">设为默认<span title="点击取消选择"></span></button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>                          
                        </div>

                        <!--编辑地址弹出层-->
                        <div  tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade edit1" style="width:580px;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                                        <h4 id="myModalLabel1" class="modal-title">修改地址</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" class="sui-form form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label">收货人：</label>
                                                <div class="controls">
                                                    <input type="text" class="input-medium" v-model="thisAddress.username">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label  class="control-label">所在地区：</label>
                                                <div class="controls">
                                                    <div data-toggle="distpicker">
                                                        <div class="form-group area">
                                                            <select class="form-control" id="province11" v-model="thisAddress.provinces"></select>
                                                        </div>
                                                        <div class="form-group area">
                                                            <select class="form-control" id="city11" v-model="thisAddress.cities"></select>
                                                        </div>
                                                        <div class="form-group area">
                                                            <select class="form-control" id="district11" v-model="thisAddress.areas" ></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">详细地址：</label>
                                                <div class="controls">
                                                    <input type="text" class="input-large" v-model="thisAddress.detailaddr">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">联系电话：</label>
                                                <div class="controls">
                                                    <input type="text" class="input-medium" v-model="thisAddress.phone">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">邮箱：</label>
                                                <div class="controls">
                                                    <input type="text" class="input-medium" v-model="thisAddress.email">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">地址别名：</label>
                                                <div class="controls">
                                                    <input type="text" class="input-medium" v-model="thisAddress.addrname">
                                                </div>
                                                <div class="othername">
                                                    建议填写常用地址：<a href="#" class="sui-btn btn-default">家里</a>　<a href="#" class="sui-btn btn-default">父母家</a>　<a href="#" class="sui-btn btn-default">公司</a>
                                                </div>
                                            </div>

                                        </form>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large" @click="submitDemo">确定</button>
                                        <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>















                        <!--新增地址弹出层-->
                         <div  tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade edit" style="width:580px;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                                        <h4 id="myModalLabel" class="modal-title">新增地址</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" class="sui-form form-horizontal" id="formData">
                                            <div class="control-group">
                                            <label class="control-label">收货人：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" v-model="addr.username">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">所在地区：</label>
                                            <div class="controls">
                                                <div data-toggle="distpicker">
                                                <div class="form-group area">
                                                    <select class="form-control" id="province1" v-model="addr.provinces"></select>
                                                </div>
                                                <div class="form-group area">
                                                    <select class="form-control" id="city1" v-model="addr.cities"></select>
                                                </div>
                                                <div class="form-group area">
                                                    <select class="form-control" id="district1" v-model="addr.areas"></select>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" >详细地址：</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" v-model="addr.detailaddr">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" >联系电话：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" v-model="addr.phone">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">邮箱：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" v-model="addr.email">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">地址别名：</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" v-model="addr.addrname">
                                            </div>
                                            <div class="othername">
                                                建议填写常用地址：<a href="#" class="sui-btn btn-default">家里</a>　<a href="#" class="sui-btn btn-default">父母家</a>　<a href="#" class="sui-btn btn-default">公司</a>
                                            </div>
                                        </div>
                                        
                                        </form>
                                        
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large" @click="submit">确定</button>
                                        <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
                                    </div>
                                </div>
                            </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- 底部栏位 -->
	<!--页面底部，由js动态加载-->
	<div class="clearfix footer"></div>
	<script type="text/javascript">$(".footer").load("foot.html");</script>
    <script src="./js/vue/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/common.js"></script>
	<!--页面底部END-->
<script>
    var address1 = new Vue({
        el:"#account",
        data:{
            ly,
            addressList:[],
            addr: {
                username: '',
                provinces: '',
                cities:'',
                areas:'',
                detailaddr:'',
                phone:'',
                email:'',
                addrname:'',


            },
            thisAddress:{
                id:0,
                username: '',
                provinces: '',
                cities:'',
                areas:'',
                detailaddr:'',
                phone:'',
                email:'',
                addrname:'',


            },
            isdefault:0,
        },
        created(){
            // 判断是否登录
            ly.http.get("/auth/verify").then(() => {
                ly.http.get("/user/addr").then(address =>{
                     this.addressList = address.data
                }).catch(() =>{})
            }).catch(() => {
                // 未登录则跳转到登录页
                window.location.href = "/login.html?returnUrl=" + window.location.href;
            })
        },
        methods:{
            deleteDemo(i){
                ly.http.delete("/user/addr/delete/"+this.addressList[i].id).then(()=>{
                    location.reload();
                }).catch(()=>{
                    alert("错误了");
                })
            },
            update(i){
            this.thisAddress= this.addressList[i]
            },
            submitDemo(){
                const formData = JSON.stringify(this.thisAddress);
                ly.http.put("/user/addr",this.thisAddress).then(()=>{
                    location.reload();
                }).catch(()=>{
                })
            },
            submit(){
                const formData = JSON.stringify(this.addr); // 这里才是你的表单数据
                ly.http.get("/auth/verify").then(() => {
                  ly.http.post("/user/addr",this.addr).then(()=>{
                      location.reload();
                  }).catch(()=>{
                  })
                }).catch(() => {
                    window.location.href = "/login.html?returnUrl=" + window.location.href;
                })

            }
        }
    });
</script>
</html>